{% extends "layout.html" %}
{% block main %}

<nav>
    <span></span>
    <a href="/" class="top-buttons" style="text-decoration: none; float: right; margin-right: 6vw">home</a>
</nav>

<form action="/add-password" method="POST" class="reg_form">

    <input type="text" placeholder="Service" id="add-service" name="service" required class="form-input"
        autocomplete="off" title="The name of the website/app/service the password is for.">
    <br><br>

    <input type="text" placeholder="Username" id="add-username" name="username" required class="form-input"
        autocomplete="off" title="The username or email used for that service.">
    <br><br>

    <input type="password" placeholder="Password" id="add-password" name="password" required class="form-input"
        autocomplete="off" title="The Password used for that service">
    <span id="add-toggle-Password" class="toggle-password" style="top: 38.8%;">Show</span>
    <br>

    <input type="text" placeholder="category" id="add-category" name="category" class="form-input" autocomplete="off"
        title="Optional label to organize passwords.">
    <br><br><br><br><br>

    <input type="password" placeholder="Verify Your login Password" id="add-master_password" name="master_password"
        required class="form-input" autocomplete="off"
        title="To add a new password, please verify your login password. (of this website ofc)">
    <br><br>

    <input type="submit" value="ADD" class="form-button">
</form>

<script>
    const passwordInput = document.getElementById('add-password');
    const toggleButton = document.getElementById('add-toggle-Password');

    toggleButton.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.textContent = type === 'password' ? 'Show' : 'Hide';
    });
</script>


{% endblock %}