{% extends "layout.html" %}
{% block main %}

<nav>
    <span></span>
    <a href="/" class="top-buttons" style="text-decoration: none; float: right; margin-right: 6vw">home</a>
</nav>

<form action="/del-password" method="POST" class="reg_form">

    <input type="text" placeholder="Service" id="add-service" name="service" required class="form-input"
        autocomplete="off" title="The name of the website/app/service the password is for.">
    <br><br>

    <input type="text" placeholder="Username" id="add-username" name="username" required class="form-input"
        autocomplete="off" title="The username or email used for that service.">
    <br><br>
    <br><br>
    <input type="password" placeholder="Your login Password" id="del-master_password" name="master_password"
    required class="form-input" autocomplete="off"
    title="To Delete a password, please verify your login password. (of this website ofc)">
    <span id="del-toggle-Password" class="toggle-password" style="top: 62.8%;">Show</span>
    <br><br>
    <input type="submit" value="DELETE" class="form-button">
</form>

<script>
    const passwordInput = document.getElementById('del-master_password');
    const toggleButton = document.getElementById('del-toggle-Password');

    toggleButton.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.textContent = type === 'password' ? 'Show' : 'Hide';
    });
</script>


{% endblock %}